<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani&display=swap" rel="stylesheet">
</head>

<body>

    <header class="cabecera">
        <div class="cabecera__logo">
            <img src="/img/logo.png" alt="">
        </div>
        <div class="cabecera__navegacion">
            <nav class="navegacion">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/nosotros">Nosotros</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                    <li><a href="/admin">Adminitrador</a></li>
                </ul>

            </nav>
        </div>

    </header>


    <div class="contenido">
        <h1>Nosotros</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione repellendus, harum corporis voluptatum cum
            fugiat atque quod eligendi magnam esse cumque optio excepturi veniam at blanditiis, hic itaque molestiae
            laborum.</p>

    </div>

    <footer>
        <div class="derechos">
            <h2>Todos los derechos reservados - 2019</h2>

        </div>
    </footer>


</body>

</html>